@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorfondo:rgb(255, 255, 255);
    --colorcalculadora:rgb(255,255,255);
    --colornumeroresultado:rgb(0, 0, 0);
    --coloresopcionesfondo:rgba(255,255,255,1);
    --coloresopcionesicons:rgb(181, 181, 181);
    --bordeinferior:rgb(233, 233, 233);
    --bordecajaprincipal:5px 5px 15px rgba(0, 0, 0, 0.4);
    --colorfondonumero:rgb(241, 240, 240,1);
    --colorfondooperadores:rgba(241, 240, 240,1);
    --colornumero:rgba(12, 12, 12, 0.734);
    --coloroperador:rgba(229, 110, 83,1);
    --colorfondooperaciones:rgba(255,255,255,1);
    --colorsignoigual:rgba(104, 179, 26,1);
    --colorhovernumerosoperadores:rgb(203, 203, 203);
    --colorhoversignoigual:rgb(93, 157, 23);
}

body{
    background: var(--colorfondo);
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", serif;
    font-style: normal;
    font-weight: 100;
}

.calculadora{
    background-color: var(--colorfondo);
    width: 20%;
    height: 80%;
    box-shadow: var(--bordecajaprincipal);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.calculadora-mostrador{
    background-color: (var(--colorfondo));
    width: 100%;
    height: 30%;
    color: var(--colornumeroresultado);
    display: flex;
    justify-content: right;
}
.calculadora-mostrador>h3{
    font-size: 3rem;
    margin-right: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
}
.calculadora-actividades{
    background-color:var(--coloresopcionesfondo);
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    color: var(--coloresopcionesicons);
    border-bottom: 0.05rem var(--bordeinferior) solid;
}
.botonesopciones{
    width: 60%;
    align-self: center;
    justify-self:start;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.borrar{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
}

.borrar>i:hover,.botonesopciones>i:hover{
    color:var(--colorfondooperadores) ;
}
.calculadora-numeros{
    background-color: var(--colorfondooperaciones);
    width: 100%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.primerafila,.segundafila,.tercerafila,.cuartafila,.quintafila{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.operadores,.numero{
    width: 20%;
    height: 90%;
    font-size: 1.5rem;
    border: 1px #ffffff solid;
    border-radius: 100%;
}

.operadores:hover,.numero:hover{
    background-color: var(--colorhovernumerosoperadores);
}

.operadores{
    background-color: var(--colorfondooperadores);
    color: var(--coloroperador);
}

.numero{
    background-color: var(--colorfondonumero);
    color: var(--colornumero);
}

.quintafila button:last-child{
    color: white;
    background-color: var(--colorsignoigual);
}
.quintafila button:last-child:hover{
    background-color: var(--colorhoversignoigual);
}

@media screen and (max-width: 950px)  {
    .calculadora{
        width: 35%;
        height: 85%;
    }
}

@media screen and (max-width: 740px)  {
    .calculadora{
        width: 50%;
        height: 90%;
    }
}
@media screen and (max-width: 550px)  {
    .calculadora{
        width: 60%;
        height: 90%;
    }
}

@media screen and (max-width: 450px)  {
    .calculadora{
        width: 100%;
        height: 100%;
    }
}